* {
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    background-color: slategrey;
    justify-content: center;
    gap: 30px;
}

li {
    width: 200px;
    height: 300px;

    list-style: none;
    background-color: brown;
}

.error-message {
  color: red;
  font-size: 0.9em;
}